html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}


/*body>*>*>* {
    background-color: rgba(27, 20, 23, 0.3)
}*/


/*.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header-top {
    background-color: #293449;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
}

.main-header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header-top a {
    color: #ffffff;
}

.main-header-logo {
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px #b52933;
}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;
}

.search:hover {
    background-color: #212a3a;
}

.search input[type="search"] {
    background-color: transparent;
    color: #ffffff;
    border: none;
}

.search input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    /* Цвет подсказывающего текста */
}

.search input[type="search"]:focus {
    background-color: #ffffff;
    color: #000000;
}

.bookmarks:hover,
.bookmarks:focus,
.card:hover,
.card:focus {
    background-color: #212a3a;
}

.bookmarks:active,
.card:active {
    background-color: #161d29;
    color: rgba(225, 225, 225, 0.6);
}

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 42px;
    background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
    background-color: #5fbb2d;
}

.checkout:active {
    background-color: #518534;
    color: rgba(225, 225, 225, 0.5);
}

.main-header-bottom {
    background-color: #f4f7f9;
    padding-top: 46px;
    padding-bottom: 60px;
}

.header-bottom-wrapper {
    display: flex;
    margin-bottom: 43px;
}

.header-bottom-wrapper h1 {
    width: 300px;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 20px;
}

.main-header-contacts {
    width: 300px;
    margin-right: 20px;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 45px;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    border: 3px solid #ffffff;
    margin-bottom: 0;
    margin-top: 0;
}

.address {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
}

.login-authentication,
.user-data,
.site-navigation,
.transport_company,
.footer-site-navigation,
.footer-product,
.footer-social ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.login-authentication {
    display: flex;
    width: 300px;
}

.login {
    width: 121px;
    height: 45px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: 10px;
}

.registration {
    width: 150px;
    height: 45px;
    background-color: #ffffff;
}

.login-authentication a {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.login-authentication a:hover,
.login-authentication a:focus {
    color: #ee3643;
}

.login-authentication a:active {
    color: #000000;
    opacity: 0.3;
}

.user {
    width: 300px;
}

.user-name {
    width: 300px;
    height: 45px;
    background-color: #ffffff;
    margin: 0px;
}

.user-data {
    display: flex;
}

.user-name a {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 21px;
}

.user-name a:hover,
.user-name a:focus {
    color: #ee3643;
    background-color: #ffffff;
}

.user-name a:active {
    color: #000000;
    background-color: #ffffff;
    opacity: 0.3;
}

.user-data a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}

.user-data a:hover,
.user-data a:focus {
    color: #ee3643;
}

.user-data a:active {
    color: #000000;
    opacity: 0.3;
}

.main-navigation {
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    box-shadow: inset 0px -5px #293449;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 24px;
}

.site-navigation a {
    color: #ffffff;
    background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

.site-navigation a:active {
    background-color: #1d2739;
    color: rgba(225, 225, 225, 0.5);
}

.main-company {
    display: flex;
    padding-top: 80px;
    padding-bottom: 86px;
}

.about-company {
    width: 540px;
    margin-right: 100px;
}

.contacts {
    width: 300px;
}

.about-company h2,
.сontacts-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

.about-company p,
.сontacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.transport_company {
    font-size: 18px;
    line-height: 24px;
}

.about-company-link,
.contacts-feedback {
    color: #ffffff;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-top {
    background-color: #32425c;
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
}

.footer-top .container {
    display: flex;
    padding-bottom: 52px;
}

.footer-logo-address {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-right: 10px;
}

.footer-logo {
    width: 220px;
    height: 68px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px #b52933;
}

.footer-address {
    margin: 0px;
    padding-top: 30px;
}

.footer-navigation {
    width: 550px;
}

.footer-site-navigation {
    display: flex;
    padding-top: 40px;
    padding-bottom: 34px;
    justify-content: space-between;
}

.footer-site-navigation a {
    color: #f3f7f9;
}

.footer-product {
    display: flex;
    justify-content: space-between;
}

.footer-product a {
    color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.footer-product a:hover,
.footer-product a:focus {
    text-decoration: underline;
}

.footer-site-navigation a:active,
.footer-product a:active {
    color: rgba(243, 247, 249, 0.5);
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
    padding-top: 38px;
    padding-bottom: 35px;
}

.company {
    width: 320px;
    margin-right: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-social {
    width: 150px;
    margin-right: 100px;
}

.company,
.footer-feedback,
.footer-copyrigeht {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.social-button {
    background-color: #212a3a;
    color: #ffffff;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: #ee3643;
}

.footer-feedback {
    width: 140px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-copyrigeht {
    width: 140px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-feedback a,
.footer-copyrigeht a {
    color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-copyrigeht a:hover,
.footer-copyrigeht a:focus {
    text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyrigeht a:active {
    color: #ee3643;
}


/*Модальное окно "- Заблудились? Напишите нам!*/

.modal-feedback {
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    border-top: 7px solid #ff5257;
}

.feedback-form input[type="text"]::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-item input {
    border: 2px solid #dee3e4;
}

.feedback-item input:hover {
    border: 2px solid #b5b5b5;
}

.feedback-item input:focus {
    border: 2px solid #ee3643;
}

.button {
    text-transform: uppercase;
    font: inherit;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.feedback-form-bottom {
    background-color: #f1f1f1;
}


/*--Попап карты--*/

.modal-map p {
    box-shadow: 0px 0px 16px 0px rgba(47, 42, 43, 0.5)
}


/*main каталога*/

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    margin-bottom: 21px;
}

.breadcrumbs a {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.perforatory {
    background-color: #f2f6f8;
    padding-top: 28px;
    padding-bottom: 32px;
    margin-bottom: 20px;
}

.perforatory h2 {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
}

.catalog-wrapper {
    display: flex;
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

.filter-title {
    background-color: #f7f3ec;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.filter-title h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.filter {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filter fieldset {
    border: none;
}

.filter ul {
    list-style: none;
}

.filter legend {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
}

.filter-button {
    text-transform: uppercase;
    font: inherit;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    border: 1px solid #c5c5c5;
    background-color: #ffffff;
}


/*сортировка*/

.sorting {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f3ec;
    margin-bottom: 20px;
}

.sorting h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}


/*Карточки товаров*/

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: -20PX;
}

.catalog-item {
    width: 220px;
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0px;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.catalog-item-old-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;
}

.catalog-item-new-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-image: url("../img/red-button.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-bay {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #63a63e;
    text-transform: uppercase;
    box-shadow: inset 0px -3px #367315;
    border-radius: 2px;
}

.btn-bay:hover,
.btn-bay:focus {
    background-color: #5fbb2d;
}

.btn-bay:active {
    background-color: #518534;
}

.btn-mark {
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    text-transform: uppercase;
    border: 3px solid #63a63e;
    background-color: #ffffff;
    border-radius: 2px;
}

.btn-mark:hover,
.btn-mark:focus {
    border: 3px solid #32425c;
}

.btn-mark:active {
    border: 3px solid rgba(50, 66, 92, 0.3);
}

.pagination-list {
    display: flex;
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    padding-top: 52px;
    padding-bottom: 60px;
}

.pagination-item a {
    color: #000000;
    background-color: #ffffff;
}

.pagination-item {
    width: 38px;
    height: 38px;
    border: 1px solid #d7dcde;
    text-align: center;
    margin-right: 10px;
}

.pagination-item:last-child {
    width: 140px;
    height: 38px;
}

.pagination-item:hover,
.pagination-item:focus {
    border: 1px solid #b5b5b5;
}

.pagination-item:active {
    border: 1px solid #ee3643;
}

.pagination-item-current {
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
    border: 1px solid #ee3643;
}

.about-perforator {
    background-color: #f2f6f8;
}

.about-perforator h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.about-perforator p {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
}


/*--Модальное окно карзины--*/

.modal-cart {
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    border-top: 7px solid #ff5257;
}

.modal-cart h2 {
    font-size: 30px;
    line-height: 30px;
}

.modal-cart-bottom {
    background-color: #f1f1f1;
}